[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/ficurinia"]
	path = themes/ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-hugo-academic.git
