{{ if (.Site.Data.experience) }}
<div class="postlist">
    <div class="postlistitem card">
        <main class="CV-page">
            <div class="CV-grid">
                <div class="CV-grid-column">
                    <div class="CV-jobs">
                        <h2>Relevant Experience</h2>
                        {{ range .Site.Data.experience }}
                        <section class="CV-timeline CV-job">
                            <h3 class="CV-timeline-heading">
                                <span class="CV-timeline-heading-title"> {{ .job_title }} </span>
                                &#8211; 
                                <span class="CV-timeline-heading-location"> {{ .company }} </span>
                                <small class="CV-timeline-heading-duration"> {{ .duration }}</small>
                            </h3>
                            <ul class="CV-timeline-details">
                                {{ range .details }}
                                <li class="CV-job-timeline-item">{{ .p }}</li>
                                {{ end }} 
                            </ul>
                        </section>
                        {{ end }}
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{ end }}
